@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Skranji&display=swap");

@title-bar-height: 30px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

#webview {
    width: 100%;
    height: 100%;
    padding-top: @title-bar-height;
}

::selection {
    background-color: #6f4af3;
    color: white;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #5a5a5a;
}

::-webkit-scrollbar-thumb:hover {
    background: #303030;
}
